body, html {
    height: 100%;
    background-color: black;
 }
  
.backimage{
    background-image: url("/home/mbugua/Documents/triangletracker/images/back.jpg");
    filter: blur(6px);
    -webkit-filter: blur(6px);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}
.header{
    background-color: black;
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    font-family: 'Quicksand', serif;
  }
.content{
    list-style: none;
    color: white;
    text-decoration: none;
    margin-bottom: 4%;
}
.content a{
    border: 2px solid white;s
    text-align: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 100px;
    margin: 2%;
    border-radius: 50px;
}
h1{
    margin-bottom: 4%;
}
.header2{
    background-color: black;
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 2;
    width: 80%;
    padding: 0px;
    text-align: center;
    border-radius: 50px;
    font-family: 'Quicksand', serif;
}
svg{
    margin: 20%;
}