body, html {
    height: 100%;
    background-color: black;
 }
  
.backimage{
    background-image: url("/home/mbugua/Documents/triangletracker/images/back.jpg");
    filter: blur(6px);
    -webkit-filter: blur(6px);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}
.header{
    background-color: black;
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    font-family: 'Quicksand', serif;
  }
.content{
    list-style: none;
    color: white;
    text-decoration: none;
    margin-bottom: 4%;
}
.content a{
    border: 2px solid white;
    text-align: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 100px;
    margin: 2%;
    border-radius: 50px;
}
.content a:hover{
    border-color: #3CA65C;
    transition: 400ms ease-out;

}
.content a:active{
    color: #3CA65C;
}
h1{
    margin-bottom: 4%;
}
.header2{
    background-color: black;
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid white;
    position: absolute;
    left: 50pc;
    transform: translate(-50%, 0%);
    z-index: 2;
    width: 80%;
    padding: 0px;
    text-align: center;
    border-radius: 50px;
    font-family: 'Quicksand', serif;
}
svg{
    z-index: 2;
    position: relative;
    margin-top: 10%;
}
.triangles{
    width:100%;
}
.text{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    text-align: center;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    font-family: 'Quicksand', serif;
    z-index: 2;
    position: relative;
    padding: 50px;
    padding-left: 30%;
    padding-right: 30%; 

}

.backimage1{
    background-image: url("/home/mbugua/Documents/triangletracker/images/back.jpg");
    filter: blur(6px);
    -webkit-filter: blur(6px);    
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}
.para2{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    text-align: left;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 20%;
    font-family: 'Quicksand', serif;
    z-index: 2;
    position: absolute;
    padding: 50px;
    padding-left: 30%;
    padding-right: 30%; 
}
.para2 h2{
    text-align: center;
}
.form{
    border: 2px solid white;
    z-index: 2;
    position: absolute;
    color: white;
    margin-top: 45%;
    margin-bottom: 15%;
    padding: 20px;
    text-align: center;
    transform: translate(-50%, 0%);
    left: 50pc;
    font-family: 'Quicksand', serif;
    background-color: rgba(0,0,0, 0.4); 
}
input[type=text]{
    width: 100%;
    padding: 10px 30px;
    margin:   12px 0px;
    display: block;
    border-radius: 16px;
    box-sizing: border-box;
}
.click{
    width: 100px;
    height: 40px;
    margin-top: 10px;
    border-radius: 16px;
}
.click:hover{
    background-color: #3CA65C;
    color: white;
    transition: 400ms;
    font-size: 20px; 
}
